/*estilo general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilo del cuerpo del contenido*/

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    color: #333;
}

/* esitlo del encabezado*/
header {
    background-color: #2c3e50; 
    color: white;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilo de la lista de navegacion y sus elementos*/

nav ul {
    list-style: none;
    margin-top: 10px; 
}

nav ul li {
    display: inline;
    margin: 0 15px; 
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    color: #f39c12;
    text-decoration: underline;
}

/*estilo del relleno en el contenido principal*/

main {
    padding: 20px; 
}

/* ajustes de tamaño en la seccion*/

section {
    margin-bottom: 30px; 
}

/*ajustes en la lista de proyectos del portafolio*/

#proyectos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
    padding: 0;
} 



#proyectos li {
    background: burlywood;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}


article {
    background-color: white;
    padding: 15px; 
    margin: 15px 0; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    text-align: center;
}

/*ajustes de los elementos dentro article*/

article img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px; 
    margin: 10px 0;
}


ul li {
    margin: 10px 0;
}

/*modificasiones del boton*/

form input, form button {
    padding: 10px; 
    margin-top: 5px;
    width: 100%;
    max-width: 300px;
}


button {
    background-color: #2c3e50; 
    color: white;
    border: none;
    cursor: pointer;
}


button:hover {
    background-color: #34495e;
}

/*pie de pagina*/

footer {
    text-align: center;
    padding: 15px; 
    background-color: #2c3e50;
    color: white;
    margin-top: 20px;
}

/*ajustes en la seccion de mascotas */

.galeria-mascotas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-mascotas article {
    width: 300px;
    margin: 10px;
}

.galeria-mascotas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
